[Unit]
Description=MySmaX BLE WiFi Connector
After=bluetooth.service bluetooth.target
Wants=bluetooth.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/joi/ble-wifi-connector
Environment=PYTHONPATH=/usr/local/joi/ble-wifi-connector
ExecStart=/usr/bin/python3 /usr/local/joi/ble-wifi-connector/ble_wifi_connector/__main__.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
